html {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: #3466a9;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
}

#flygplan {
    width: 80%;
    max-width: 100vh;
}

#countdown {
    color: #ffffff;
    font-size: 8vh;
    font-weight: bold;
}
